In [30]:
#importing libraries
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import re

In [31]:
#import wijken_br.csv
wijken_br = pd.read_csv("wijken_buurten.csv", sep=',')
wijken_br

,subject,region_name,regio_type,region_code,lon,lat
0,Amsterdam,Amsterdam,Gemeente,GM0363,4.879568,52.381000
1,Burgwallen-Oude Zijde,Amsterdam,Wijk,WK036300,4.896943,52.372566
2,Kop Zeedijk,Amsterdam,Buurt,BU03630000,4.900280,52.375937
3,Oude Kerk e.o.,Amsterdam,Buurt,BU03630001,4.896156,52.373793
4,Burgwallen Oost,Amsterdam,Buurt,BU03630002,4.898757,52.372815
...,...,...,...,...,...,...
574,Gein Noordoost,Amsterdam,Buurt,BU03639702,4.997344,52.299167
575,Gein Zuidoost,Amsterdam,Buurt,BU03639703,4.993377,52.292793
576,Driemond,Amsterdam,Wijk,WK036398,5.012156,52.313198
577,Dorp Driemond,Amsterdam,Buurt,BU03639800,5.016539,52.305628
578,Landelijk gebied Driemond,Amsterdam,Buurt,BU03639801,5.011239,52.314780

In [38]:
# creating a geometry column 
wijken_br = geopandas.GeoDataFrame(
    wijken_br, geometry=geopandas.points_from_xy(wijken_br.lat, wijken_br.lon))

In [33]:
wijken_br.head(10)
wijken_br['geometry'] = wijken_br['geometry'].astype('object')

wijken_br['geometry'].dtypes

dtype('O')

In [34]:
#import solar panels file
solar_pl = pd.read_csv("ZONNEPANELEN2017.csv", sep=';')
solar_pl

,OBJECTNUMMER,Functie,Gedetecteerde_panelen,Vermogen(kwh),LNG,LAT,WKT_LAT_LNG
0,1,NietWonen,21.0,5000,4.849.801,52.380.596,"POINT(52.380596,4.849801)"
1,2,Wonen,9.4,2000,4.980.629,52.296.628,"POINT(52.296628,4.980629)"
2,3,Wonen,9.4,2000,4.970.498,522.995,"POINT(52.2995,4.970498)"
3,4,Wonen,9.4,2000,4.941.263,52.370.706,"POINT(52.370706,4.941263)"
4,5,NietWonen,35.0,9000,4.831.484,5.238.012,"POINT(52.38012,4.831484)"
...,...,...,...,...,...,...,...
4612,4613,NietWonen,9.4,2000,4.796.125,52.375.336,"POINT(52.375336,4.796125)"
4613,4614,NietWonen,9.4,2000,479.601,52.374.902,"POINT(52.374902,4.79601)"
4614,4615,NietWonen,9.4,2000,4.796.098,52.375.239,"POINT(52.375239,4.796098)"
4615,4616,NietWonen,12.0,3000,4.796.073,52.375.142,"POINT(52.375142,4.796073)"
4616,4617,NietWonen,9.4,2000,479.606,52.375.095,"POINT(52.375095,4.79606)"

In [23]:
#change the column name to match the wijken file
solar_pl = solar_pl.rename(columns={'WKT_LAT_LNG':'geometry'})
solar_pl['geometry'].dtypes

dtype('O')

In [28]:
gebeid_dt = pd.read_csv("GEBIEDEN22.csv", sep=';')
gebeid_dt.head()

,OBJECTNUMMER,Gebied_code,Gebied,Stadsdeel_code,Opp_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT
0,1,Dxxx,Westpoort,B,28991600,"POLYGON((4.885861 52.39937,4.882702 52.401695,...","POLYGON((52.39937 4.885861,52.401695 4.882702,...",48.073.194,5.241.146.535
1,2,DX21,Bijlmer-Oost,T,4076020,"POLYGON((4.996899 52.317636,4.996784 52.317753...","POLYGON((52.317636 4.996899,52.317753 4.996784...",497.683.215,5.231.956.355
2,3,DX06,"Geuzenveld, Slotermeer, Sloterdijken",F,15357200,"POLYGON((4.844813 52.385134,4.844798 52.385138...","POLYGON((52.385134 4.844813,52.385138 4.844798...",480.115.605,5.237.999.025
3,4,DX07,Osdorp,F,9174720,"POLYGON((4.820437 52.351738,4.818066 52.356167...","POLYGON((52.351738 4.820437,52.356167 4.818066...",47.876.456,52.363.814
4,5,DX08,"De Aker, Sloten, Nieuw-Sloten",F,7584560,"POLYGON((4.84714 52.336896,4.847032 52.337685,...","POLYGON((52.336896 4.84714,52.337685 4.847032,...",48.072.748,5.234.213.515

In [41]:
#change the column name to match the wijken file
gebeid_dt = gebeid_dt.rename(columns={'WKT_LAT_LNG':'geometry'})

dtype('O')

In [42]:
# copy poly to new GeoDataFrame
# GeoDataFrame creation
poly = pd.DataFrame(gebeid_dt['geometry'])
poly.head()
points = poly.copy()
# change the geometry
points.geometry = points['geometry'].centroid
# same crs
points.crs =poly.crs
points.head()

AttributeError: 'Series' object has no attribute 'centroid'

In [25]:
#compare values
solar_pl['geometryMatch?'] = np.where(solar_pl['geometry'] == wijken_br['geometry'], 'True', 'False')

ValueError: Can only compare identically-labeled Series objects

In [14]:
solar_buur = solar_buur.to_csv('Solar_buur.csv', sep=';', index=False)