# Introduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [2]:
# your code here
print(np.__version__)

1.18.1

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [59]:
# Method 1
a = np.empty((2,3,5))
print(a)

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]

In [42]:
# Method 2

a = np.random.random((2,3,5))
print(a)

[[[0.17033042 0.16626453 0.46401116 0.77083871 0.89061604]
  [0.68454149 0.97700474 0.28251711 0.82080062 0.15783014]
  [0.21708597 0.69478679 0.58432466 0.94384742 0.05041252]]

 [[0.11024722 0.92908709 0.0362537  0.06283799 0.76331369]
  [0.56327821 0.51069178 0.89585489 0.47217675 0.48228944]
  [0.83153953 0.36619655 0.03384615 0.98877949 0.45688217]]]

In [43]:
# Method 3
a = np.random.randint(low = 100, size =(2,3,5))
print(a)

[[[20 77 16 54 67]
  [75  8 87  4 10]
  [25 70 40  2 77]]

 [[38 61 64 11 44]
  [86 60  5 59 19]
  [36 71  2 52 91]]]

#### 4. Print *a*.

In [45]:
# your code here

a = np.random.random((2,3,5))
print(a)

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [46]:
# your code here
b = np.ones((5,2,3))

#### 6. Print *b*.

In [47]:
# your code here
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [48]:
# your code here
if a.size == b.size:
    print("a and b have same size",a.size)
else:
    print("a and b do not have same size",a.size,b.size)

a and b have same size 30

#### 8. Are you able to add *a* and *b*? Why or why not?

In [51]:
# your answer here
print(np.add(a, b))

# It will generate a ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3) 
#, both of them have not same shape altough having same size

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [52]:
# your code here
c = np.transpose(b, (1,2,0))
c.shape

(2, 3, 5)

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [53]:
# your code/answer here
d = np.add(a, c)
print(d)

# because the transpose operation changed it t the same shape of c

[[[1.55798685 1.32717076 1.07354713 1.93375542 1.73062585]
  [1.195402   1.27404953 1.98934867 1.73544179 1.73846356]
  [1.47545124 1.42104328 1.14156772 1.9151397  1.07262293]]

 [[1.76907417 1.76304942 1.36341895 1.58726185 1.92623269]
  [1.95924497 1.25461447 1.65298822 1.86953118 1.52936847]
  [1.93935668 1.5625737  1.88412381 1.186791   1.10270207]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [54]:
# your code/answer here
print(a)
print(d)
#It has a difference of 1 because the b has one as an element

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]
[[[1.55798685 1.32717076 1.07354713 1.93375542 1.73062585]
  [1.195402   1.27404953 1.98934867 1.73544179 1.73846356]
  [1.47545124 1.42104328 1.14156772 1.9151397  1.07262293]]

 [[1.76907417 1.76304942 1.36341895 1.58726185 1.92623269]
  [1.95924497 1.25461447 1.65298822 1.86953118 1.52936847]
  [1.93935668 1.5625737  1.88412381 1.186791   1.10270207]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [55]:
# your code here
e = np.multiply(a, c)
print(e)

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]

#### 13. Does *e* equal to *a*? Why or why not?

In [ ]:
# your code/answer here
# yes they are equal because if you multiply 1 with anything you get the same result

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [58]:
# your code here
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)
print("Max: ",d_max,"Min: ",d_min,"Mean: ",d_mean)

Max:  1.9893486742351736 Min:  1.0726229253938084 Mean:  1.5643982697980692

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [62]:
# your code here
f = np.empty((2,3,5))
print(f)

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [76]:
# your code here
np.where((d > d_min) & (d < d_mean), 25, f)
np.where((d > d_mean) & (d < d_max), 75, f)
np.where((d == d_mean), 50, f)
np.where((d == d_min),  0, f)
np.where((d == d_max), 100,f)
print(f)

[[[0.55798685 0.32717076 0.07354713 0.93375542 0.73062585]
  [0.195402   0.27404953 0.98934867 0.73544179 0.73846356]
  [0.47545124 0.42104328 0.14156772 0.9151397  0.07262293]]

 [[0.76907417 0.76304942 0.36341895 0.58726185 0.92623269]
  [0.95924497 0.25461447 0.65298822 0.86953118 0.52936847]
  [0.93935668 0.5625737  0.88412381 0.186791   0.10270207]]]

In [87]:
# your code here

f[d > d_mean] = 75
f[d < d_mean] = 25
f[d == d_mean]  = 50
f[d == d_min] = 0
f[d == d_max] = 100
print(f)
print(d)

[[[ 25.  25.  25.  75.  75.]
  [ 25.  25. 100.  75.  75.]
  [ 25.  25.  25.  75.   0.]]

 [[ 75.  75.  25.  75.  75.]
  [ 75.  25.  75.  75.  25.]
  [ 75.  25.  75.  25.  25.]]]
[[[1.55798685 1.32717076 1.07354713 1.93375542 1.73062585]
  [1.195402   1.27404953 1.98934867 1.73544179 1.73846356]
  [1.47545124 1.42104328 1.14156772 1.9151397  1.07262293]]

 [[1.76907417 1.76304942 1.36341895 1.58726185 1.92623269]
  [1.95924497 1.25461447 1.65298822 1.86953118 1.52936847]
  [1.93935668 1.5625737  1.88412381 1.186791   1.10270207]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [ ]:
# your code here

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.