# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `warehouse_and_retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per supplier.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
# your code here

# importing required libraries
import numpy as np
import pandas as pd

# Import comma-separated warehouse_and_retail_sales variable file
data_retail = pd.read_csv('Warehouse_and_Retail_Sales.csv')
data_retail.head(20)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0
5,2017,4,REPUBLIC NATIONAL DISTRIBUTING CO,101680,MANISCHEWITZ CREAM WH CONCORD - 1.5L,WINE,0.0,1.0,0.0
6,2017,4,ROYAL WINE CORP,101753,BARKAN CLASSIC PET SYR - 750ML,WINE,0.0,1.0,0.0
7,2017,4,JIM BEAM BRANDS CO,10197,KNOB CREEK BOURBON 9YR - 100P - 1.75L,LIQUOR,0.0,32.0,0.0
8,2017,4,STE MICHELLE WINE ESTATES,101974,CH ST MICH P/GRIS - 750ML,WINE,0.0,26.0,0.0
9,2017,4,MONSIEUR TOUTON SELECTION,102083,CH DE LA CHESNAIE MUSCADET - 750ML,WINE,0.0,1.0,0.0
10,2017,4,JIM BEAM BRANDS CO,10243,OLD GRAND DAD BOURBON 100P - 750ML,LIQUOR,0.0,3.0,0.0
11,2017,4,BACCHUS IMPORTERS LTD,10246,HILLROCK DOUBLE CASK RYE - 750ML,LIQUOR,0.0,5.0,0.0
12,2017,4,MHW LTD,10266,LA CHAYA MAL - 750ML,WINE,0.0,4.0,0.0
13,2017,4,MHW LTD,10268,LA CHAYA TORRONTES - 750ML,WINE,0.0,1.0,0.0
14,2017,4,CRAFT WINE & SPIRITS OF MARYLAND LLC,10269,FEW BOURBON - 750ML,LIQUOR,0.0,1.0,0.0
15,2017,4,CRAFT WINE & SPIRITS OF MARYLAND LLC,10270,KOPPER KETTLE WHISKEY - 750ML,LIQUOR,0.0,1.0,0.0
16,2017,4,ALLAGASH BREWING COMPANY,10271,ALLAGASH SAISON 6/4 NR 12.0Z,BEER,0.0,4.0,0.0
17,2017,4,REPUBLIC NATIONAL DISTRIBUTING CO,10274,KINSEY BOURBON - 750ML,LIQUOR,0.0,1.0,0.0
18,2017,4,PERNOD RICARD USA LLC,10275,LOT 40 RYE - 750ML,LIQUOR,0.0,1.0,0.0
19,2017,4,KATCEF BROTHERS INC,10306,TROEGS SOLID SENDER PALE ALE - 4/6NR,BEER,0.0,1.0,0.0

In [2]:
#Checking for any null values
null_cols = data_retail.isnull().sum()
null_cols
#since there are not much null value we do not need to worry about replacing it

YEAR                 0
MONTH                0
SUPPLIER            24
ITEM CODE            0
ITEM DESCRIPTION     0
ITEM TYPE            1
RETAIL SALES         0
RETAIL TRANSFERS     0
WAREHOUSE SALES      0
dtype: int64

In [3]:
#Replacing null value of supplier with  'No supplier'
null_displ_supplier = data_retail[(data_retail['SUPPLIER'].isnull()==True)]
null_displ_supplier
data_retail[['SUPPLIER']] = data_retail[['SUPPLIER']].fillna('No Supplier')

In [13]:
#check for datatypes
data_retail.dtypes

YEAR                 object
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [21]:
#change datatype of year and month to object because they are not data which will affect the calculation

data_retail_object = data_retail.astype({'YEAR': 'object', 'MONTH': 'object'})
data_retail_object.dtypes

YEAR                 object
MONTH                object
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [23]:
#checking for extreme values and outliers
stats = data_retail.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
MONTH,128355.0,7.079303,3.645826,1.00,5.0,8.00,10.00,12.00,5.00
RETAIL SALES,128355.0,6.563037,28.924944,-6.49,0.0,0.33,3.25,1616.60,3.25
RETAIL TRANSFERS,128355.0,7.188161,30.640156,-27.66,0.0,0.00,4.00,1587.99,4.00
WAREHOUSE SALES,128355.0,22.624213,239.693277,-4996.00,0.0,1.00,4.00,16271.75,4.00

In [34]:
outliers = pd.DataFrame(columns=data_retail.columns)
 
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 4
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data_retail[(data_retail[col] < lower) | 
                   (data_retail[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers
#no need of deleting or populating it because generally warehouses have more wine sales than retail sales considering it goes
# to retails and directly to some other distribution centers

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,Outlier
5229,2017,5,JIM BEAM BRANDS CO,10197,KNOB CREEK BOURBON 9YR - 100P - 1.75L,LIQUOR,33.44,39.0,0.0,RETAIL SALES
5278,2017,5,JACKSON FAMILY ENTERPRISES INC,10413,MURPHY GOODE CHARD - 750ML,WINE,22.07,18.0,39.0,RETAIL SALES
5280,2017,5,BUCK DISTRIBUTING COMPANY INC,10430,STONE IPA 4/6 NR - 12OZ,BEER,52.75,61.0,154.0,RETAIL SALES
5282,2017,5,KATCEF BROTHERS INC,10431,VICTORY GOLDEN MONKEY 4/6NR - 12OZ,BEER,19.79,18.0,121.0,RETAIL SALES
5285,2017,5,LEGENDS LTD,10434,LAGUNITAS IPA 4/6 NR - 12OZ,BEER,71.50,80.0,215.0,RETAIL SALES
...,...,...,...,...,...,...,...,...,...,...
128350,2018,2,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.46,59.0,212.0,WAREHOUSE SALES
128351,2018,2,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,9.08,7.0,35.0,WAREHOUSE SALES
128352,2018,2,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,32.0,WAREHOUSE SALES
128353,2018,2,No Supplier,BC,BEER CREDIT,REF,0.00,0.0,-35.0,WAREHOUSE SALES
128354,2018,2,No Supplier,WC,WINE CREDIT,REF,0.00,0.0,-81.0,WAREHOUSE SALES

In [6]:
#duplicates dropped from the excel
before = len(data_retail)
data_retail = data_retail.drop_duplicates()
after = len(data_retail)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [29]:
#A table for the aggregate per supplier.

data_retail.groupby(['SUPPLIER'])['RETAIL SALES', 'RETAIL TRANSFERS','WAREHOUSE SALES'].agg(['mean', 'median', 'std'])

C:\Users\sudis\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                           RETAIL SALES                    RETAIL TRANSFERS  \
                                   mean median         std             mean
SUPPLIER
8 VINI INC                     0.308889  0.240    0.332620         0.222222
A HARDY USA LTD                0.133333  0.160    0.046188         0.000000
A I G WINE & SPIRITS           0.313000  0.170    0.415045         0.148000
A VINTNERS SELECTIONS          0.991346  0.000    3.540557         0.959282
A&E INC                        0.303158  0.245    0.268943         0.052632
...                                 ...    ...         ...              ...
WINEBOW INC                    0.177143  0.080    0.156707        -0.225714
YOUNG WON TRADING INC          1.369534  0.000    5.206417         1.354981
YUENGLING BREWERY             57.654790  3.000  121.793706        64.977066
Z WINE GALLERY IMPORTS LLC     0.294333  0.000    0.501692         0.375000
ZURENA LLC                     1.794444  1.200    1.495402         2.296667

                                              WAREHOUSE SALES         \
                           median         std            mean median
SUPPLIER
8 VINI INC                    0.0    0.666667        0.111111    0.0
A HARDY USA LTD               0.0    0.000000        0.000000    0.0
A I G WINE & SPIRITS          0.0    0.530366        3.350000    3.0
A VINTNERS SELECTIONS         0.0    3.760187        3.416323    1.0
A&E INC                       0.0    0.226294        0.000000    0.0
...                           ...         ...             ...    ...
WINEBOW INC                   0.0    0.404098        0.000000    0.0
YOUNG WON TRADING INC         0.0    5.384949        3.271539    1.6
YUENGLING BREWERY            10.0  128.925061      322.187545  125.0
Z WINE GALLERY IMPORTS LLC    0.0    0.611492        0.533333    0.0
ZURENA LLC                    2.0    3.421199        0.000000    0.0


                                   std
SUPPLIER
8 VINI INC                    0.333333
A HARDY USA LTD               0.000000
A I G WINE & SPIRITS          3.482925
A VINTNERS SELECTIONS         7.135689
A&E INC                       0.000000
...                                ...
WINEBOW INC                   0.000000
YOUNG WON TRADING INC         5.138843
YUENGLING BREWERY           442.314872
Z WINE GALLERY IMPORTS LLC    0.730297
ZURENA LLC                    0.000000

[334 rows x 9 columns]

In [33]:
data_retail.groupby(['ITEM CODE','ITEM DESCRIPTION','ITEM TYPE'])['RETAIL SALES', 'RETAIL TRANSFERS','WAREHOUSE SALES'].agg(['mean'])

C:\Users\sudis\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                                            RETAIL SALES  \
                                                                    mean
ITEM CODE ITEM DESCRIPTION                        ITEM TYPE
100003    LA CETTO ZINFANDEL - 750ML              WINE          0.000000
100007    LA CETTO CAB SAUV - 750ML               WINE          0.000000
100008    AMITY VINEYARDS P/NOIR 2013 - 750ML     WINE          0.000000
100009    BOOTLEG RED - 750ML                     WINE          0.000000
100011    PAPI P/GRIG - 1.5L                      WINE          0.000000
...                                                                  ...
99988     SAM ADAMS COLD SNAP 1/6 KG              KEGS          0.000000
          SAM ADAMS HOPSCAPE 1/6 KG               KEGS          0.000000
99990     SAM ADAMS AMERICAN SMMR VARIETY 12PK NR BEER         22.833333
BC        BEER CREDIT                             REF           0.000000
WC        WINE CREDIT                             REF           0.000000

                                                            RETAIL TRANSFERS  \
                                                                        mean
ITEM CODE ITEM DESCRIPTION                        ITEM TYPE
100003    LA CETTO ZINFANDEL - 750ML              WINE                   0.0
100007    LA CETTO CAB SAUV - 750ML               WINE                   0.0
100008    AMITY VINEYARDS P/NOIR 2013 - 750ML     WINE                   0.0
100009    BOOTLEG RED - 750ML                     WINE                   0.0
100011    PAPI P/GRIG - 1.5L                      WINE                   0.0
...                                                                      ...
99988     SAM ADAMS COLD SNAP 1/6 KG              KEGS                   0.0
          SAM ADAMS HOPSCAPE 1/6 KG               KEGS                   0.0
99990     SAM ADAMS AMERICAN SMMR VARIETY 12PK NR BEER                  30.0
BC        BEER CREDIT                             REF                    0.0
WC        WINE CREDIT                             REF                    0.0

                                                            WAREHOUSE SALES
                                                                       mean
ITEM CODE ITEM DESCRIPTION                        ITEM TYPE
100003    LA CETTO ZINFANDEL - 750ML              WINE             1.000000
100007    LA CETTO CAB SAUV - 750ML               WINE             1.000000
100008    AMITY VINEYARDS P/NOIR 2013 - 750ML     WINE             0.500000
100009    BOOTLEG RED - 750ML                     WINE             3.000000
100011    PAPI P/GRIG - 1.5L                      WINE             1.500000
...                                                                     ...
99988     SAM ADAMS COLD SNAP 1/6 KG              KEGS            23.666667
          SAM ADAMS HOPSCAPE 1/6 KG               KEGS            -1.000000
99990     SAM ADAMS AMERICAN SMMR VARIETY 12PK NR BEER           328.500000
BC        BEER CREDIT                             REF           -752.750000
WC        WINE CREDIT                             REF            -91.500000

[23764 rows x 3 columns]